.dock {
  position: absolute;
  bottom: 0rem;
  display: flex;
  align-items: center;
  justify-items: center;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 1rem;
  border-radius: 1rem;
  gap: 0.7rem;
  padding-block: 0.5rem;


  .icon {
    padding: 0.65rem;
    aspect-ratio: 1/1;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .github {
    background: linear-gradient(to bottom, #2b2b2d, #1c1c1e);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tooltip {
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%) translateY(5px);

    background-color: rgba(21, 21, 21, 0.8);
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;

    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
  }

  .github:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .calender {
    background: linear-gradient(to bottom, #ff5f57, #d70015);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calender:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .spotify {
    background: linear-gradient(to bottom, #34c759, #248a3d);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spotify:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .link {
    background: linear-gradient(to bottom, #5ac8fa, #007aff);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .notes {
    background: linear-gradient(to bottom, #ffd60a, #ff9f0a);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notes:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .mail {
    background: linear-gradient(to bottom, #bf5af2, #ff375f);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mail:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .app-store {
    background: linear-gradient(to bottom, #64d2ff, #0a84ff);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-store:hover .tooltip {
    white-space: nowrap;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .pdf {
    background: linear-gradient(to bottom, #ff453a, #c81e1e);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pdf:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .database {
    background: linear-gradient(to bottom, #66d4cf, #2ac3a2);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .database:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .vs-code {
    background: linear-gradient(to bottom, #0a84ff, #0040dd);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vs-code:hover .tooltip {
    white-space: nowrap;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .terminal {
    background: linear-gradient(to bottom, #252527, #0F0F11);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .terminal:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .settings {
    background: linear-gradient(to bottom, #d1d1d6, #8e8e93);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .settings:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .file-manager {
    background: linear-gradient(to bottom, #a5c9ff, #4f8df7);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-manager:hover .tooltip {
    white-space: nowrap;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  .icon:hover {
    transform: scale(1.3) translateY(-30%);
    cursor: pointer;
  }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.1) translateY(-10%);
  }
}
