nav {
  position: absolute;
  width: 100%;
  cursor: pointer;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.25)
  );

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: white;
  z-index: 1000;

  background: transparent;
  padding-inline: 0.75rem;
  padding-block: 0.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .left {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .right {
    display: flex;
    gap: 1rem;
  }
}
