nav{
    position: absolute;
    width: 100%;
    background-color: #9e9e9e1b;
    padding-inline: 0.75rem;
    padding-block: 0.2rem;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .left{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .right{
        display: flex;
        gap: 1rem;
    }
}