.note-window{
    height: 100%;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    padding-bottom: 5rem;
    background-color: #20201D !important;

    pre{
        background-color: #20201D !important;
    }
}