.social-link {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.25)
  );

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  #closeBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .main-box {
    height: 7rem;
    width: 25rem;
    background-color: rgba(85, 85, 85, 0.292);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .icon{
    padding: 0.75rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }

  .insta{
    padding: 0.5rem;
  }

  .icon:hover {
    background-color: rgb(74, 72, 72);
  }

}
