.window {
  width: 400px;
  height: 400px;

  background-color: black;
  border-radius: 0.5rem;
  overflow: hidden;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .nav {
    background-color: rgb(39, 39, 39);
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
    display: flex;
    gap: 1.0rem;
    align-items: center;
    border-bottom: 2px solid rgba(82, 82, 82, 0.363);

    color: rgb(203, 199, 199);
    font-weight: 500;
    font-size: small;

    .dots {
      display: flex;
      gap: 0.5rem;
      .dot {
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 50%;
      }
      .green {
        background-color: rgb(39, 201, 63);
      }
      .red{
        background-color:rgb(255, 95, 86);
      }
      .yellow{
        background-color: rgb(255, 189, 46);
      }
    }

    

  }
}
