* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
    background-image: url("https://i.pinimg.com/1200x/f6/fa/4d/f6fa4db63cfae2b23f580cbe72c9d9ee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
  background-color: black;
  color: white;
}
