*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body , #root{
    background-color: black;
    color: white;
    background-image: url('https://i.pinimg.com/1200x/97/4d/ef/974def37a889f0b0707d65bf6d0fd62a.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
